body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.botones {
  display:flex;
  align-items:center;
}

.botones > button {
  width:50vw;
  padding:15px;
  font: size 18px;
  text-transform:uppercase;
  letter-spacing:2px;
  cursor:pointer;
}

.actiu {
  background:pink;
}

.noactiu {
  background:none;
}
