body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.containerprincipal {
  height:100vh;
  background-repeat:no-repeat;
  background-size:cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.botones {
  display:flex;
  align-items:center;
}

.botones > button {
  width:50vw;
  padding:15px;
  font: size 18px;
  text-transform:uppercase;
  letter-spacing:2px;
  cursor:pointer;
}

.actiu {
  background:pink;
  border-color:black!important;
  color:black!important;
}

.noactiu {
  background:none;
}

.pantallainicio {
  max-width:50vw;
  padding:5%;
  background-color:black;
  color:white;
  margin:5%;
  text-align:center;
}

.pantallainicio button {
  background-color:white;
  font: size 18px;
  text-transform:uppercase;
  letter-spacing:2px;
  color:black;
  padding:10px 20px 10px 20px;
  border:none;
  cursor:pointer;
}
.pantallainicio button:hover {
  background-color:pink;
}

.divgeneral {
  display:grid;
  justify-content:center;
}
